<div class='d-flex'>
    <div class="tab_container ">
        <input class="custom-hide " id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><span class="">TWEETS</span></label>

        <input class="custom-hide " id="tab2" type="radio" name="tabs">
        <label for="tab2"><span class="">PHOTOS</span></label>

        <input class="custom-hide " id="tab3" type="radio" name="tabs">
        <label for="tab3"><span class="">VIDEOS</span></label>

        <section id="content1" class="tab-content custom-hide py-4">
            <div class="d-flex">
                <div class='profile-body d-flex'>
                    <div class='center-cont w-100'>

                        <div class="new-post-area p-4 mx-3 bg-white rounded">
                            <h5 class="text-light-grey h6 font-weight-bold">TWEET SOMETHING</h5>
                            <%= render 'form', tweet: @tweet %>
                        </div>

                        <div class=' p-3 m-3 bg-white rounded'>
                            <p class='tweets-header pb-3 border-bottom'> <%=@tweets.size%> NEW TWEETS </P>
                            <%@tweets.each do |tweet|%>
                                <div class='user-card d-flex mb-3'>
                                    <div class='avatar-cont mr-2'>
                                        <%= print_image_squar(tweet.author)%>
                                    </div>
                                    <div class='card-text p '>
                                        <h6><%= tweet.author.name.split.map(&:capitalize).join(' ')%></h6>
                                        <h5 class='mb-0'><%= tweet.content%></h5>
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content2" class="tab-content custom-hide">
            <h2>comming soon!</h2>
        </section>
        <section id="content3" class="tab-content custom-hide">
            <h2>comming soon!</h2>
        </section>
    </div>
    <section class='px-3 border-left'>
        <div class=''>
            <h5 class='m-0 py-3 border-bottom'>Who to follow</h5>
        </div>

        <div class='followed-by py-4'>
            <%= render 'whotofollow'%>
        </div>
    </section>
    </div>

</div>

</div></div>