<div class='position-relative d-flex'>
    <%= link_to user_path(user.id) do%>
    <div class='d-flex'>
        <div class='user-avatar-section'>

            <div class='avatar'>
                <%= print_image(user) %>
            </div>

        </div>
        <div class='px-3 follow-text'>
            <p><%= user.name%></p>
            <h5 class='f-hashtag'>@<%= user.username%></h5>
        </div>
    </div>
    <%end%>
    <%= print_follow_btn(user) %>
</div>