
<div class="d-flex">
    <div class='profile-body d-flex'>
        <div class='center-cont w-100'>
            <div class='cover-image w-100' '>
                <% if @user.cover.attachment %>
                <%= image_tag(@user.cover, class: 'w-100') %>
                <% else%>
                <%= image_tag('cover.jpg', class: 'w-100') %>
                <% end%>
            </div>
            <nav class='my-2 border-bottom '>
                <div class="nav profile-tab d-flex" id="nav-tab" role="tablist">
                    <a class="nav-item text-dark nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria- selected="false">FOLLOWERS</a>
                    <a class="nav-item text-dark nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria- selected="false">FOLLOWING</a>
                    <a class="nav-item text-dark nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria- selected="true">TWEETS</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria- labelledby="nav-home-tab">
                    <div class='hashtag'>
                        <div class='new-post-area p-3 m-3 bg-white rounded'>
                        <h5 class='upcase'>Mention <%=@user.name%></h5>
                        <%= form_with(model: @tweet, local: true) do |form| %>
                            <div class="field">
                                <%= form.text_field :content, value: "@#{@user.username}", autocomplete: 'off', disabled: false %>
                                <%= form.submit %>
                            </div>
                            <div class="field">
                                <%= form.file_field :image %>
                            </div>
                        <% end %>

                        </div>
                        <div class=' p-3 m-3 bg-white rounded'>
                        <h5 class='upcase'>TWEETS BY <%=@user.name%></h5>
                        <% @user_tweets.each do |tweet|%>
                            <p> author: <%= link_to tweet.author.name, user_path(tweet.author.id) %></p>
                            <p> content: <%= tweet.content%>.</p>
                        <% end %>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade followers-tab" id="nav-profile" role="tabpanel" aria- labelledby="nav-profile-tab">
                    <% if !@user_followers.empty? %>
                        <%= render 'users/follows', list:  @user_followers %>
                    <% else %>
                        <div class='position-relative'>
                            <div class='d-flex'>
                                this user hasn't followers yet.
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="tab-pane fade followers-tab" id="nav-contact" role="tabpanel" aria- labelledby="nav-contact-tab">
                <% if !@user_followeds.empty? %>
                    <%= render 'users/follows', list:  @user_followeds %>
                <% else %>
                    <div class='position-relative'>
                        <div class='d-flex'>
                            this user hasn't followeds yet. 
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
        </div>

        <section class='right-sidebar text-center'>
            <div class='user-avatar-section d-flex py-2'>
                <div class='avatar big-avatar d-inline-block m-auto'>
                    <%= print_image(@user) %>
                    <%= print_follow_btn(@user) if current_user.id != @user.id %>
                </div>
            </div>
            <div class='centered user-name py-2'>
                <h4 class='upcase'><%= @user.name%></h4>
                <h5>@<%= @user.username%></h5>
            </div>
            <div class='profile-followers-tab py-2 d-flex justify-content-center'>
                <div class='border p-2'>
                    <h5><%= @user.tweets.size%></h5>
                    <p>TWEETS</p>
                </div>
                <div class='border  p-2'>
                    <h5><%= @user_followers.size%></h5>
                    <p>FOLLOWERS</p>
                </div>
                <div class='border  p-2'>
                    <h5><%= @user_followeds.size%></h5>
                    <p>FOLLOWING</p>
                </div>
            </div>
            <div class='followed-by py-2'>
                <h5>FOLLWED BY</h5>
                <%= render 'users/follows', list:  @user_followers %>
            </div>
        </section>
    </div>
</div>
