
<div class="d-flex">
    <div class='profile-body d-flex'>
        <div class='center-cont w-100'>
            <div class='cover-image w-100' '>
                <%= print_cover(@user) %>
            </div>
            <div class="tab_container ">
                <input class="custom-hide " id="tab1" type="radio" name="tabs" checked>
                <label for="tab1"><span class="">TWEETS</span></label>

                <input class="custom-hide " id="tab2" type="radio" name="tabs">
                <label for="tab2"><span class="">PHOTOS</span></label>

                <input class="custom-hide " id="tab3" type="radio" name="tabs">
                <label for="tab3"><span class="">FOLLOWING</span></label>

                <input class="custom-hide " id="tab4" type="radio" name="tabs">
                <label for="tab4"><span class="">FOLLOWERS</span></label>

                <input class="custom-hide " id="tab5" type="radio" name="tabs">
                <label for="tab5"><span class="">FAVORITES</span></label>

                <input class="custom-hide " id="tab6" type="radio" name="tabs">
                <label for="tab6"><span class="">LISTS</span></label>

                <section id="content1" class="tab-content custom-hide py-4">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria- labelledby="nav-home-tab">
                        <div class='hashtag'>
                            <div class='new-post-area p-3 m-3 bg-white rounded'>
                            <h5 class='upcase'>Mention <%=@user.name%></h5>
                            <%= form_with(model: @tweet, local: true) do |form| %>
                                <div class="field">
                                    <%= form.text_field :content, value: "@#{@user.username}", autocomplete: 'off', disabled: false %>
                                    <%= form.submit %>
                                </div>
                                <div class="field">
                                    <%= form.file_field :image %>
                                </div>
                            <% end %>

                            </div>
                            <div class=' p-3 m-3 bg-white rounded'>
                            <h5 class='upcase'>TWEETS BY <%=@user.name%></h5>
                            <% @user_tweets.each do |tweet|%>
                                <p> author: <%= link_to tweet.author.name, user_path(tweet.author.id) %></p>
                                <p> content: <%= tweet.content%>.</p>
                            <% end %>
                            </div>
                        </div>
                    </section>
                    <section id="content2" class="tab-content custom-hide">
                        <h2>comming soon!</h2>
                    </section>
                    <section id="content3" class="tab-content custom-hide">
                        <%= render_following_users(@user_followeds) %>
                    </section>
                    <section id="content4" class="tab-content custom-hide">
                        <%= render_following_users(@user_followers) %>
                    </section>
                    <section id="content5" class="tab-content custom-hide">
                        <h2>comming soon!</h2>
                    </section>
                    <section id="content6" class="tab-content custom-hide">
                        <h2>comming soon!</h2>
                    </section>
                </div>
            </div>
        </div>

        <section class='right-sidebar text-center'>
            <div class='user-avatar-section d-flex py-2'>
                <div class='avatar big-avatar d-inline-block m-auto'>
                    <%= print_image_big(@user) %>
                    <%= print_follow_btn(@user) %>
                </div>
            </div>
            <div class='centered user-name py-2'>
                <h4 class='upcase'><%= @user.name%></h4>
                <h5>@<%= @user.username%></h5>
            </div>
            <div class='profile-followers-tab py-2 d-flex justify-content-center'>
                <div class='border p-2'>
                    <h5><%= @user.tweets.size%></h5>
                    <p>TWEETS</p>
                </div>
                <div class='border  p-2'>
                    <h5><%= @user_followers.size%></h5>
                    <p>FOLLOWERS</p>
                </div>
                <div class='border  p-2'>
                    <h5><%= @user_followeds.size%></h5>
                    <p>FOLLOWING</p>
                </div>
            </div>
            <div class='followed-by py-2'>
                <h5>FOLLWED BY</h5>
                <%= render_following_users(@user_followers) %>
            </div>
        </section>
    </div>
</div>
