<div class='user-card-cont d-flex justify-content-between'>
    <%= link_to user_path(user.id) do%>
    <div class='user-card d-flex mb-3'>

        <div class='avatar-cont mr-2'>
            <%= print_image(user) %>
        </div>

        <div class='card-text p'>
            <h6 class='text-body'><%= user.name.split.map(&:capitalize).join(' ')%></%></h4>
            <h5 class='mb-0 p-0'>@<%= user.username%></h5>
        </div>
    </div>
    <%end%>
    <div class='follow-btn-cont '>
        <%= print_follow_btn(user) %>
    </div>
</div>