<nav class="navbar navbar-expand-lg navbar-dark bg-cinfo">
  <a class="navbar-brand" href="<%= tweets_path %>">REELTEA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link " href="<%= tweets_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
          
         
      <li class="nav-item active">
         <%= link_to  "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>

      <li class="nav-item active">
        <%= link_to  "Profile", user_path(current_user), class: 'nav-link' %>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href=" <%= user_path(current_user.id) %> "> <%=current_user.username%> </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='fas fa-cog'></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        </div>
      </li>
    </ul>

  </div>
</nav>