<nav class='sidebar position-fixed text-secondary h-100'>
    <div class='d-flex p-2'>
        <%if current_user.image.attached?%>
          <div class='rounded'>
            <%= image_tag(current_user.image, size: "50x50", class: 'rounded') %>
          </div>
        <%else%>
          <div class='rounded'>
            <%= image_tag('avatar.png', size: "50x50", class: 'rounded') %>
          </div>
        <%end%>
        <h5 class='px-1 mx-auto my-auto'><%= current_user.name.split.map(&:capitalize).join(' ')%></h5>
    </div>
    <div class='follow-counter w-100'>
        <div class='d-flex w-100'>
            <div class='p-1 w-50 text-center'>
                <p class="text-white h5"><%=current_user.followeds.size%></p>
                <p class="h6">Following</p>
            </div>
            <div class='p-1 w-50 text-center'>
                <p class="text-white h5"><%=current_user.followers.size%></p>
                <p class="h6">Followers</p>
            </div>
        </div>
    </div>
    <div class='side-links text-white'>
        <%= link_to tweets_path do %>
        <div class='d-flex p-3 text-white'>
            <i class='fas fa-home'></i>
            <span>HOME</span>
        </div>
        <%end%>
        <%= link_to user_path(current_user) do %>
        <div class='d-flex p-3 text-white'>
            <i class='fas fa-user'></i>
            <span>PROFILE</span>
        </div>
        <%end%>
    </div>
</nav>