<!DOCTYPE html>
<html>
  <head>
    <title>Reeltea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5e0cee5c01.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favi32.png' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  </head>

  <body class="bg-light">
      <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert bg-alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>

    <%if !user_signed_in? %>
      <div class='mt-4 '>
        <div class='d-flex'>
          <div class='m-auto'>
            <%= yield %>
          </div>
        </div>
      </div>
    <%end%>

    <%if user_signed_in?%>

      <%= render 'layouts/sidebar' %>

    <%end%>

    <%if user_signed_in? %>
      <div class='main '>
        <%= render 'layouts/navbar' %>
        <%= yield %>
      </div>
    <%end%>

  </body>
</html>
