<!DOCTYPE html>
<html>
  <head>
    <title>Reeltea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/5e0cee5c01.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'custom' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favi32.png' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  </head>

  <body class="bg-light">
    <div class='wrapper'>
      <% if notice.present? %>
        <script>
          $.alert("<%=notice%>", {title:'Info Message',type: 'info',position: ['top-right', [+0.84, 0]],})
        </script>
      <% end %>
    <% if alert.present? %>
        <script>
          $.alert("<%= alert %>", {title:'warning',type: 'warning',position: ['top-right', [+0.84, 0]],})
        </script>
      <% end %>

      <%if !user_signed_in? %>
        <div class='sign-cont'>
              <%= yield %>
        </div>

      <%end%>

      <%if user_signed_in?%>
        <nav id="sidebar" class='sidebar  text-secondary'>
          <%= render 'layouts/sidebar' %>
        </nav>
      <%end%>

      <%if user_signed_in? %>
        <div class='content' id="content">
          <%= render 'layouts/navbar' %>
          <%= yield %>
        </div>
      <%end%>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  </body>
</html>
